.CommentList {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    width: 45%;
    max-height: 950px;
    padding: .88rem 1.16rem;
    background-color: rgba(1, 12, 63, 0.7);
    box-shadow: 0 4px 8px 2px #000000;
  }

  .CommentList h2 {
    margin-right: auto;
    font-family: 'Shrikhand', sans-serif;
  }

  .CommentList .commentKeyword {
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-top: .88rem;
  }

  .CommentList .commentKeyword p {
    /*padding-top: .88rem;*/
    font-size: small;
  }

  .CommentList input {
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #6f6f6f;
    font-family: 'Poppins', sans-serif;
    font-size: 1.16rem;
    color: #e3b23c;
  }
  
  .CommentList-save {
    cursor: pointer;
    width: 10rem;
    padding: .77rem 0;
    border-radius: 54px;
    border-width: 0px;
    margin-top: 1.27rem;
    background-color: #e3b23c;
    text-align: center;
    font-size: .83rem;
    transition: background-color .25s;
    color: #fff;
    font-weight: 500;
  }
  
  .CommentList-save:hover {
    background-color: #FF595E;
    font-weight: 800;
  }
  
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }
  
  @media only screen and (max-width: 1020px) {
    .CommentList {
      width: 90%;
    }
  }